*{
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    width: 810px;
    border: 1px solid #bdbbbb;
    margin: auto;
}

.top-players, .top-blogs, .lates-courses{
    margin: 40px;
}
.select-title{
    color: #562EFF;
    margin-bottom: 40px;
}

/* top players style */

.player-blog-containar{
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 30px 0 10px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player h3{
    height: 27px;
    width: 150px;
    font-size: 18px;
    margin-left: 16px;
}

/* top blogs styles */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}
.blog{
    height: 120px;
    display: flex;
}
.blog .thumbnail img{
    width: 180px;
    height: 120px;
}
.blog-info{
    width: 170px;
    height: 110px;
    margin: 15px 20px;
}
.blog-title{
    margin-bottom: 15px;
}
.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    columns: #562EFF;
}

/* lates course style */

.lates-course-containar{
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 10px 0;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.course{
    Width: 250px;
    Height: 270px;
}
.course .banar img{
    width: 250px;
    height: 105px;
    align-items: center;
}
.course-detail{
    Width: 245px;
    margin: 15px 0;
}
.course-title{
    margin: 15px 0 10px 0;
}
.course-author{
    text-decoration: none;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    margin: 20px 0 15px 0;
    justify-content: space-between;
    align-items: center;
}
.filled{
    color: #FFC014;
}
.empty{
    color: #AEAEAE;
}
.course-detail .course-info .coures-duration{
    background-color: #fccad1;
    border-radius: 15px;
    padding: 6px 11px;
}
.course-detail .course-info .coures-duration .duretion-color{
    color: #FF4A60
;
}