*{
    margin: 0;
    padding: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.containar{
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* top players style */
.top-players{
    margin: 40px;
}
.select-title{
    color: #562EFF;
    margin-bottom: 40px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.player h3{
    height: 27px;
    width: 150px;
    font-size: 18px;
    margin-left: 16px;
}